body {
  font: 10px sans-serif;
}
#main {
  left: 25%;
  position: absolute;
}
#main #text {
  padding-bottom: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}